<%- model_class = @post.class -%>
<div class="page-header">
  <h1><%= @post.nome %></h1>
  <%= link_to(@post.user.email, user_url(@post.user)) %>
</div>

  <div class="well">
  		<%= @post.conteudo %>
  </div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              post_list_url, :class => 'btn'  %>
  <%= link_to('Delete', destroy_post_path(@post), :method=>"delete", :class => 'btn btn-danger') %>
</div>
